<div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
    Orders Content
</div>
<div class="p-4">
    <p class="font-italic mb-4"> shopping Costs depend on your selection.</p>
    <ul class="list-unstyled mb-4" *ngIf="(basketTotals$ | async)">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Order Subtotal</strong>
            <strong class="text-muted"> 100 000</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping & Handling</strong>
            <strong class="text-muted">100000 000</strong>
        </li>
 
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Shipping</strong>
            <strong class="text-muted">2000 000</strong>
        </li>
    </ul>

</div>
