<br>

<div class="uren-login-register_area">

    <div class="container-fluid">
 
        <div class="row">

           <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">

             <div class="login-form">
                <form #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">

                            <h4 class="login-title">Login</h4>

                                  <div class="col-md-6 col-12 mb--20">
                                       <input type="text" class="form-control" name="username"
                                         [(ngModel)] ="model.username" placeholder="Username">
                                  </div> 
         
    
                                   <div class="col-md-6 col-12 mb--20">
                                        <input type="password" class="form-control" name="password"
                                           [(ngModel)] ="model.password" placeholder="Password">
                                  </div> 
  
  
                          <div class="col-md-12">
                              <button class="mr-2 uren-login_btn" type="submit">Login</button>
                              <!--<button class="btn btn-default mr-2" routerLink="/register" type="button">Go To Register</button> --> 
  
                          </div>

                </form>
                
             </div> 

            </div>

         </div>

    </div>

  </div>  
  