<div class="container mt-5">

     <div class="row">
          <div class="col-8">
             <app-stepper-form></app-stepper-form>
          </div>

          <div class="col-4">
              <app-order-totals></app-order-totals>
              <a href="https://www.payfast.co.za/eng/process?cmd=_paynow&amp;receiver=17663136&amp;item_name=Buy&amp;amount={{walletAmount.amount}}">
               <img src="https://www.payfast.co.za/images/buttons/light-small-paynow.png" width="165" height="36" alt="Pay" title="Pay Now with PayFast" /></a>
          </div>
     </div>
</div>
