<br>
<table class="table table-striped" *ngFor="let part of parts">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Part Name</th>
      <th scope="col">Part Code</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th  scope="row">{{part.id}}</th>
      <td >{{part.name}}</td>
      <td >{{part.partCode}}</td>
      <td >{{part.price}}</td>
    <td>
      <div class="btn-group">
        <button class="Btn" [routerLink]="['/addproduct']" type="button" class="btn btn-success "> Create</button>
        <button  class="Btn" (click) ="onDelete(part.id)" type="submit" class="btn btn-danger ">Delete</button>
        <button class="Btn" [routerLink]="['/editproduct/', part.id]" class="btn btn-warning">Update</button>
        </div>
    </td>
    </tr>
  </tbody>
</table>

<br>
