<table style="width:50%;" class="table float-start" *ngFor="let part of parts">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Part Name</th>
      <th scope="col">Part Code</th>
      <th scope="col">Price</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th  scope="row">{{part.id}}</th>
      <td >{{part.name}}</td>
      <td >{{part.partCode}}</td>
      <td >{{part.price}}</td>
    <td>
      <div class="btn-group" style="width:50%">
        <button (click) ="postParts()" type="button" class="btn btn-primary "> Save</button><br>
        <button form="updateForm" type="submit" routerLink="/products{{part.id}}" class="btn btn-secondary ">Update</button><br>
        <button (click) ="onDelete(part.id)" type="submit" class="btn btn-primary ">Delete</button><div></div>
        <a href="#" [routerLink]="['/editproduct/', part.id]" class="btn btn-primary btn-sm">Edit</a> 
        </div>
    </td>
    </tr>
  </tbody>
</table>

<br>
