<a class="main-item" (click)="onNavigate()">Go to URL</a>

<form action="https://www.payfast.co.za/eng/process" method="post">
    <input type="hidden" name="merchant_id" value="17663136">
    <input type="hidden" name="merchant_key" value="mogfaxjts5khg">
    <input type="hidden" name="amount" value="100.00">
    <input type="hidden" name="item_name" value="Test Product">
    <input type="submit">
 </form> 

<a href="https://www.payfast.co.za/eng/process?cmd=_paynow&amp;
receiver=17663136&amp;
item_name=Payment&amp;
item_description=Online+Store&amp;
amount=1.00&amp;
return_url=https%3A%2F%2Fhansafrique.co.za%2FCart&amp;
cancel_url=https%3A%2F%2Fhansafrique.co.za%2FCancel">
<img src="https://www.payfast.co.za/images/buttons/dark-small-buynow.png" width="165" height="36" alt="Buy" title="Buy Now with PayFast" /></a>